# vim: ft=yaml
eturnal:
  secret: "{{ eturnal_secret }}"     # Shared secret, CHANGE THIS.
  relay_ipv4_addr: "{{ eturnal_ipv4 }}" # The server's public IPv4 address.
  relay_ipv6_addr: "{{ eturnal_ipv6 }}" # The server's public IPv6 address (optional).
